/* --- GLOBAL RESET & UTILITIES --- */
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #444;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrollbar */
}

a {
    text-decoration: none;
    color: inherit;
}

/* Container to center everything */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Helper Classes */
.purple-text { color: #C271FF; }
.white-text { color: white; }